<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankdetails">

    <application
        android:allowBackup="true"
        android:icon="@drawable/money"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.BankDetails">
        <activity android:name=".Save_Details"></activity>
        <activity android:name=".Bank_Details" />
        <activity android:name=".Address_Details" />
        <activity android:name=".Personal_Details" ></activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!--    android:roundIcon="@mipmap/ic_launcher_round"-->